* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: whitesmoke;
}

.headerContainer {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: whitesmoke
}

.headerContainer a { 
    display: flex;
}

.navbarList {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbarList a {
    margin-right: 4vh;
}

.logo h1 {
    color: black;
}

.navbarItem {
    width: 10vh;
}

nav {
    display: flex;
    margin-left: 10vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.servico {
    background-color: #5795cf;
    color: white;
    padding: 1vh;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.imgLogo {
    width: 8vh;
    height: 7vh;
    display: flex;
    align-content: center;
}
