@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: whitesmoke;
    cursor: pointer;
}

.headerContainer {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: whitesmoke
}

.headerContainer a { 
    display: flex;
}

.navbarList {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;

}

.navbarList a {
    margin-right: 4vh;
    text-decoration: none;
    color: #000;
}

.logo h1 {
    font-size: 15;
    font-weight: 200;
}
.logo h4 {
    font-size: 5;
    font-weight: 100;
}

.navbarItem {
    width: 10vh;
}

nav {
    display: flex;
    margin-left: 10vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #000;
    
}
.servico {
    background-color: #067992;
    color: white;
    padding: 1vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.imgLogo {
    width: 6vh;
    height: 5vh;
    display: flex;
    align-content: center;
    margin-right: 2vh;
}

