
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: transparent;
}

.headerContainer {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
        /* Referente a transparencia, preciso arrumar!!
         position: fixed; 
        top: 0;
        z-index: 100;
        transition: background-color 0.3s ease;
        background-color: transparent;  */
    }

.headerContainer a { 
    display: flex;
}

.navbarList {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    
}

.home {
    margin-right: 4vh;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.sobre {
    margin-right: 4vh;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.contato {
    margin-right: 4vh;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.logo h1 {
    font-size: 15;
    font-weight: 200;
}
.logo h4 {
    font-size: 5;
    font-weight: 100;
}
.logoText h1 {
    margin-left: 1.5vh;
   margin-bottom: 0.4vh;
}
.logoText h4 {
    margin-left: 0.5vh;
    color: #000;
}

.navbarItem {
    width: 10vh;
}

nav {
    display: flex;
    margin-left: 10vh;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #000;
    
}
.servico {
    background-color: #067992;
    color: white;
    padding: 1.5vh;
    padding-right: 3vh;
    padding-left: 3vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.imgLogo {
    width: 7vh;
    height: 6vh;
}

