.carouselRef{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sombreamento com transparência */
    z-index: -1; /* Certifica-se de que fique atrás de todo o conteúdo */

}
.carouselContainer {  
    width: 100%; /* Proporção do carrossel */
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.carousel {
    display: flex;
    transition: transform 2s ease-in-out; /* Transição suave */
    width: 300%;
}

.carouselItem {
    flex: 1;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "montserrat", sans-serif;
}

.carouselItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(0.7);  */
}

.carouselItem h3 {
    margin: 0;
    padding: 0;
}

/* Reset básico */
 
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    font-family: "montserrat", sans-serif;
}