* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100px;
    width: 100%;
    /* background-color: black; */
   display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

header {
    height: 100px;
    background: whitesmoke
    
}

.headerContainer {
  
    max-width: 1000px;
    height: 100%;
    display: flex;
}

.headerContainer a {
    display: flex;
    margin-left: 500px;
 
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 40px;
}
 .logo h1 {
    margin-right: 500px;
    color: black;
    /* font-size: 4dvh; */
 }
.container {
    margin: 0 auto;
    max-width: 1000px;
}

li {
    width: 100px ;
}

nav {
 display: flex;
 margin-left: 100px;
}

.logo h1 {
    color: black;
    margin-top: 3vh;
}

.logo, a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.servico-button {
    width: 110px;
    background-color: #3bb4d1;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}

#imgLogo {
    width: 80px;
    height: 80px;
    display: flex;
    align-content: center;
}



/*Main*/


/*form*/
.forms-main {
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    margin-top: 10vh;
    background: #1e91a0;
    border-radius: 30px;
    color: #ffff;
    padding: 1vh;
}

.form-control {
    height: 5vh;
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control-button {
    height: 5vh;
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control input {
    height: 70%;
    width: 60%;
    border-radius: 10px;
    border: 1 solid black;
    outline: none;
}

.form-control-button button {
    height: 80%;
    width: 40%;
    border-radius: 10px;
    outline: 0;
    transition: 0.2s;
}

.form-control-button button:hover {
    height: 85%;
    width: 45%;
    border-radius: 10px;
    background: #437d85;
    color: #ffff;
}






.items-main {
    margin-top: 10vh;
}

.items-main-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.item-card {
    background: #f3f4f3f4;
    width: 60%;
    max-height: 320px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
}

.item-card img {
    width: 20%;
    height: 20%;
    margin-right: 2%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.item-card-text {
    width: 80%;
}