* {
    margin: 0;
    padding: 0;
}

.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.tableMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 80%;
}

.tableItemsMain {
    width: 100%;
    height: 7vh;
    display: flex;
}

.tableItem {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.tableItem p {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.enterExitTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.enterExitTopMonths {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10vh;
}

.enterExitMonths {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5795cf;
    border: solid 1px black;
    width: 7%;
    padding: 2vh;
}

.enterExitMonths p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterExitTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.enterExitLeft {
    width: 20%;
}

.enterExitLeftItem {
    width: 100%;
}

.enterExitTableInformations {
    width: 80%;
}

.enterExitTableInformationsTop, .enterExitTableInformationsBotton {
    display: flex;
    align-items: center;
}

.enterExitInformation {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}