* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    overflow-x: hidden;
    width: 100%;
}
.container {
    max-width: 1336px;
    margin: 0 auto;
 
 
}
 
header {
    background: whitesmoke;
}
.headerContainer {
    height: 100px;
    display: flex;
    /* font-family: "montserrat", sans-serif; */
    font-weight: 600;
}
 
.headerContainer a {
    display: flex;
}
 
ul {
    font-family: "montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30%;
}
 
.logo h1 {
    font-family: "montserrat", sans-serif;
    margin-right: 500px;
    color: black;
    margin-top: 3vh;
    /* font-size: 4dvh; */
}
.logo p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 0.05vh;
    word-spacing: 0.01vh;
}
 
li {
    width: 100px;
}
 
nav {
    display: flex;
    margin-left: 100px;
}
 
.logo {
    display: flex;
}
.logo,
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
 
.servico {
    width: 110px;
    background-color: #067992;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}
 
.imgLogo {
    width: 80px;
    height: 80px;
    display: flex;
    align-content: center;
}

.sobre {
    color: #067992;

}

.container {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-evenly;
    padding-top: 5vh;
 
}
 


/* Card */

.cardMissao,
.cardVisao,
.cardValores {
    background: #067992;
    width: 20rem;
    padding: 70px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
    flex-wrap: wrap;
    box-shadow: 10px 5px 5px lightgrey;
}

.cardMissao:hover,
.cardVisao:hover,
.cardValores:hover {
    transform: translateY(-10px);
}

p {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

p span {
    display: block;
    font-weight: 200;
    font-size: 18px;
    padding-top: 20px;
}

h5 {
    font-weight: 20;
    font-size: 18px;
}


.inicial {
    background: url('../assets/img/sobre.png') no-repeat center;
    background-size: cover;
    height: 45vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicial h2 {
    font-size: 46px;
    margin: 2%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif2;
}

.userPicture img {
    width: 100px;
    height: 100px;
    color:#FFF;
}