
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 50%;
    margin: 0 auto;
}

img {
    height: 20vh;
    width: 20vh;
}

.text p {
    font-size: 7vh;
    text-decoration: ;
}