/* Centraliza o card na tela */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh; /* Altura da tela */
  background: #fff;
  position: relative;
}

/* Card do formulário */
.card {
  background: #ebebeb;
  border-radius: 16px;
  padding: 2.5em 2em 2em 2em;
  width: 100vh;
  height: 50vh;
  margin-top: 4em;
  box-shadow: 0 0 8px #0001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título centralizado */
.cadastroFornecedoresTitle {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #187187;
  margin-bottom: 1.5em;
}

/* Formulário */
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2vh;
}

/* Grupo de campo individual */
.formGroup {
   display: flex;
  gap: 1rem;
  width: 100%;
}

/* Linha para campos lado a lado */
.formRow {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

/* Cada campo da linha, metade da largura */
.halfFormGroup {
    flex: 1;
  display: flex;
  flex-direction: column;
}

/* Inputs */
.halfFormGroup input,
.formGroup input {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.75rem;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
  color: #444;
  text-align: center;
}

.halfFormGroup input::placeholder,
.formGroup input::placeholder {
  color: #bdbdbd;
  text-align: center;
  font-style: italic;
}
/* Botão de envio */
.button {
  background-color: #187187;
  color: #fff;
  border: none;
  padding: 1rem 0;
  font-size: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  margin-bottom: 10vh;
}

.button:hover {
  background-color: #0e5a6e;
}
.verificarWrapper {
  position: absolute;
  right: 4vw;
  top: 20em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}

.verificarEstoque {
  color:#11687d ;
  display: flex;
   align-items: center;
  text-decoration: underline;
   pointer-events: auto; /* permite clicar no link */
}


